@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

// COLORS
$white:#fff;
$cream:#F2E0D0;
$baby_blue:#B8C9F2;
$lt-blue:#00d4ff;
$dk-blue:#090979;
$purple:#4A0385;
$mint:#B8F2DC;
$pink:#F9D2CA; 
$blush:#E3AEAC;
$lips:#AD837B;
$salmon:#FB9480;
$yellow:#FDDDA5;
$black: #000;
$off_black:#020024;

// FONTS
$title:'Roboto Condensed', sans-serif;

object{    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    overflow-y: scroll;}
