@import "./variables";


.container{display: flex;align-items: start;justify-content: start;flex-wrap: wrap; padding: 50px;}
main{width: $col_2_3;}
aside{width: $col_1_3;}

// BANNER
.banner{background-image: url('../img/banner4.jpeg'); padding: 50px; position: relative; background-size: cover; background-position: center; color:$white; margin-bottom: 50px;
    h1{padding-bottom: 15px;}
    p{font-size: 25px;}
    .txtwrp{position: relative;z-index: 100; max-width: 1200px; margin: 0 auto; padding: 200px 0 50px;}
}
    .banner:before{content:''; height:100%; width: 100%; background-color: rgba(0,0,0,.5); position: absolute; top: 0;left: 0;}


// IMAGEWRAPPER
.imgWrp{ overflow: hidden; height: 350px; width: 350px; margin-bottom: 25px; position: relative;
    img{border-radius:50%; height: 300px; width: 300px; display: block; text-align: center; margin: 0 auto; position: absolute; top: 50%; transform: translateY(-50%); left: 0; right: 0;}
    &::before{content:''; height: 325px; width: 325px; position: absolute; top: 6px; left: 6px; border:solid 5px black; border-radius:50%; }
    &::after{content:''; height: 310px; width: 310px; position: absolute; top: 17px; left: 17px; border:solid 2px black; border-radius:50%; }
}

// 

