@import "./variables";

@mixin transition(){
    transition: all .25s ease-in;
}

.wrp{background-size: cover; background-repeat: no-repeat; height: 100vh; position: relative;
    &:before{content:''; height: 100%;width: 100%; position: absolute; top: 0;left: 0; 
        background: rgb(131,58,180);
        background: radial-gradient(circle, rgba(131,58,180,.4) 0%, rgba(253,29,29,.4) 40%, rgba(252,176,69,.4) 75%, rgba(0,0,0,.4) 100%);
    } 
    &:after{content:''; height: 100%;width: 100%; position: absolute; top: 0;left: 0; background-color: rgba(0,0,0,.4);}
}

.txtWrp{z-index: 100; position: absolute; top: 50%; transform: translateY(-50%); left: 0;right: 0;margin: 0 auto; text-align: center;
    h1{background: -webkit-radial-gradient($yellow, $black); line-height: 160px; font-size:13.5vw; opacity: .5;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;}
    h4{font-size: 50px; color: $yellow;}
}

.nav{ position: relative; z-index: 100; color:$lav; padding:25px 0 0 25px;
    li{list-style-type: none; font-size: 20px; padding-bottom: 10px;
        &:hover{color:$white}
    }
    a{color: $lav; text-decoration: none;
        &:hover{color:$white}
    }
}

.socialLinks{position: absolute; bottom:25px; right: 25px; z-index: 100; color: white; display: flex; align-items: start;justify-content: start;flex-wrap: wrap;
    li{padding: 0 25px; font-size: 50px; list-style-type: none;
        a{overflow: hidden; display: block; transform: rotate(0deg); @include transition;}
        &:hover a{cursor: pointer; color:$white; transform: rotate(360deg); @include transition;}
        &:hover svg{color:$white}
    }
}



li:nth-child(1) a svg{color:$blush; display: block; transform-origin:center; transform:scale(.7); opacity: .7;
    animation: 10s ease-in 0s infinite pulsed;

}
li:nth-child(2) svg{color:$baby_blue; transform:scale(.7); animation: 10s ease-in 1.3s infinite pulsed;}
li:nth-child(3) svg{color:$mint; transform:scale(.7); animation: 10s ease-in 2.8s infinite pulsed;}

@keyframes pulsed{
    0%{transform:scale(.7); opacity: .7;}
    5%{transform:scale(1); opacity: 1;}
    95%{transform:scale(1); opacity: 1;}
    100%{transform:scale(.7); opacity: .7;}
}
