@import "./variables.scss";

.projectbanner{background-image:url('../img/cave02.jpeg'); color: $white; background-size: cover; background-position: center;
    h1{padding:50px; text-align: center; font-size: 13.5vw; line-height: 25vh; opacity: .5; text-shadow: 0 0 5px $black;}
}
