// COLORS
$white:#fff;
$gray:#b3b3b3;
$cream:#F2E0D0;
$baby_blue:#B8C9F2;
$lt-blue:#00d4ff;
$dk-blue:#090979;
$purple:#4A0385;
$mint:#B8F2DC;
$pink:#F9D2CA; 
$blush:#E3AEAC;
$lips:#AD837B;
$salmon:#FB9480;
$yellow:#FDDDA5;
$black: #000;
$off_black:#020024;
